PORT=3000

# Токен Telegram-бота, который будет ПРИСЫЛАТЬ уведомления тебе
# (создаётся через @BotFather, отдельно от ботов, которые ты мониторишь)
NOTIFY_BOT_TOKEN=

# Твой Telegram chat_id, куда слать уведомления
# Узнать можно у бота @userinfobot
NOTIFY_CHAT_ID=
